*{
    margin:0;
    padding:0;
}


#title{
    font-family:Franklin Gothic Medium;
    font-weight: bold;
    font-stretch: expanded;
    color:orangered;
}
#firstpar{
    font-family: Courier New;
    font-weight: lighter;
    font-size: 20px;
    color:grey;
}
.main{
    width:100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-size:cover;
    background-position: center;
    height:300vh;
}
#img-div{
    width: 100%;
}
#image{
    display:flex;
    justify-content:center;
    align-items:center;
    border:20px solid grey;
}
#img-caption {
    font-size: 18px;
    color: #0c0c0c;
    text-align: center;
    margin-top: 10px;
  }

  #headline {
    font-size: 28px;
    color: #0d0f14;
    text-align: center;
    margin-top: 10px;
  }
 

  ul {
    
    font-size: 18px;
    color: #09090a;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  
  