*{
    margin:0;
    padding:0;
}


#title{
    font-family:Franklin Gothic Medium;
    font-weight: bold;
    font-stretch: expanded;
    color:orangered;
}
#firstpar{
    font-family: Courier New;
    font-weight: lighter;
    font-size: 20px;
    color:grey;
}
.main{
    width:100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpg);
    background-size:cover;
    background-position: center;
    height:300vh;
}
#img-div{
    width: 100%;
}
#image{
    display:flex;
    justify-content:center;
    align-items:center;
    border:20px solid grey;
}